<h1 id="выявление-опухоли">Выявление опухоли</h1>
<h1 id="оценка-границ-опухоли">Оценка границ опухоли</h1>
<h1 id="оценка-глубины-инвазии">Оценка глубины инвазии</h1>
<p>Глубина инвазии</p>
<figure>
<img src="./img/stomach_tnm_basic.png"
alt="Классификация глубины инвазии стенки желудка согласно TNM 7 " />
<figcaption aria-hidden="true">Классификация глубины инвазии стенки
желудка согласно TNM 7 </figcaption>
</figure>
<p>Однако, в практическом смысле точность определения каждой из
категории неодинакова, так как различается характер визуализации разных
структур стенки. С точки зрения КТ вышеуказанная схема будет выглядеть
так. Как видите разделение на категории стало не так очевидно.</p>
<figure>
<img src="./img/stomach_tnm_on_ct.png"
alt="Классификация глубины инвазии стенки желудка согласно TNM 7 " />
<figcaption aria-hidden="true">Классификация глубины инвазии стенки
желудка согласно TNM 7 </figcaption>
</figure>
<p>Оценка глубины инвазии опухоли желудка строится на двух признаках:
дифференцировка подслизистого слоя и наружный контур стенки.</p>
<h2 id="дифференцировка-слоев-стенки-желудка">Дифференцировка слоев
стенки желудка</h2>
<figure>
<img src="./img/wall.png"
alt="Стенка желудка под микроскопом. Белый цвет подслизистого слоя обусловлен тем что он практически полностью состоит из жировой ткани. " />
<figcaption aria-hidden="true">Стенка желудка под микроскопом. Белый
цвет подслизистого слоя обусловлен тем что он практически полностью
состоит из жировой ткани. </figcaption>
</figure>
<p>Стенка желудка состоит из четырех слоев: слизистого, подслизистого,
мышечного и серозного. Разница в количестве жира и степени
васкуляризации позволяет дифференцировать эти слои при КТ и УЗИ . Эта
разница практически отсутствует между мышечным и серозным слоями.
Поэтому дифференцировать их с помощью КТ не удается.</p>
<figure>
<img src="./img/mucosa_enchancment.png"
alt="Желудок до и после приема газообразующей смеси. До раздувания стенка хорошо дифференцируется на слои. После из-за снижения плотности слизистого слоя и толщины подслизистого разделения не слои не наблюдается " />
<figcaption aria-hidden="true">Желудок до и после приема газообразующей
смеси. До раздувания стенка хорошо дифференцируется на слои. После из-за
снижения плотности слизистого слоя и толщины подслизистого разделения не
слои не наблюдается </figcaption>
</figure>
<p>Толщина подслизистого слоя находится в диапазоне от 0,5 до 2 мм. При
растяжении желудка она уменьшается и он может стать практически не
заметен.</p>
<figure>
<img src="./img/mucosa_enchancment.png"
alt="Стенка желудка в разные фазы контрастирования с невыраженным подслизистым слоям. Слизистая заметно отличается в артериальную фазу и практически сливается с остальными слоями в портальную и отсроченную " />
<figcaption aria-hidden="true">Стенка желудка в разные фазы
контрастирования с невыраженным подслизистым слоям. Слизистая заметно
отличается в артериальную фазу и практически сливается с остальными
слоями в портальную и отсроченную </figcaption>
</figure>
<p>Более высокая степень васкуляризации слизистой оболочки позволяет
дифференцировать ее от мышечного слоя в ранние фазы контрастирования.
Однако в поздние фазы слизистая не отличается от мышечного слоя.</p>
<figure>
<img src="./img/mucosa_enchancment.png"
alt="Примеры ранних раков желудка. а) Т1а на фоне хорошей дифференцировки слоев. б) Т1а на фоне отсутствующей дифференцировка слоев. в) Т2 на фоне хорошей дифференцировки слоев. г) Т2 на фоне отсутствующей дифференцировка слоев." />
<figcaption aria-hidden="true">Примеры ранних раков желудка. а) Т1а на
фоне хорошей дифференцировки слоев. б) Т1а на фоне отсутствующей
дифференцировка слоев. в) Т2 на фоне хорошей дифференцировки слоев. г)
Т2 на фоне отсутствующей дифференцировка слоев.</figcaption>
</figure>
<p>Таким образом дифференциальный диагноз Т1 и Т2 возможен. Но только
тогда, когда слои стенки на уровне опухоли выраженны достаточно.</p>
<h2 id="оценка-наружного-контура">Оценка наружного контура</h2>
<p>В отсроченную фазу опухоль, мышечный и серозный слои практически
неотделимы друг от друга. Это делает невозможным определить глубину
инвазии в мышечный слой. Поэтому единственным признаком, что опухоль
переросла Т2 категорию является деформация наружного контура.</p>
<figure>
<img src="./img/ct_t2_vs_t3.png"
alt="Сравнение Т2 и Т3 опухолей. Структура стенки и опухоли практически одинаковы. О том что опухоль инвазировала серозную оболочку говорит неровность наружного контура. " />
<figcaption aria-hidden="true">Сравнение Т2 и Т3 опухолей. Структура
стенки и опухоли практически одинаковы. О том что опухоль инвазировала
серозную оболочку говорит неровность наружного контура. </figcaption>
</figure>
<p>Хотя желудок считается интраперитонеально расположенным органом,
часть его стенки имеющей отношение к связочному аппарату брюшиной не
покрыта.</p>
<figure>
<img src="./img/stomach_anatomy_sagital.png"
alt="Поперечный разрез желудка. Брюшина обозначена голубой линией. Так как печеночно-желудочная связка имеет значительную толщину, малая кривизна брюшиной практически не покрыта. " />
<figcaption aria-hidden="true">Поперечный разрез желудка. Брюшина
обозначена голубой линией. Так как печеночно-желудочная связка имеет
значительную толщину, малая кривизна брюшиной практически не покрыта.
</figcaption>
</figure>
<p>Опухоль прорастающая серозную оболочку на передней или задней стенках
прорастает и брюшину, соответственно расценивается как Т4а. Если опухоль
на малой кривизне, то она распространяется на печеночно-желудочную
связку и расценивается как Т3.</p>
<figure>
<img src="./img/ct_t4_vs_t3.png"
alt="Пример семиотически похожих опухолей желудка. В обоих случаях отмечается инвазия серозного слоя. а) Опухоль передней стенки Т4а. б) Опухоль малой кривизны Т3. " />
<figcaption aria-hidden="true">Пример семиотически похожих опухолей
желудка. В обоих случаях отмечается инвазия серозного слоя. а) Опухоль
передней стенки Т4а. б) Опухоль малой кривизны Т3. </figcaption>
</figure>
<p>Неровность наружно контура на большой кривизне представляет
диагностическую дилему. Только небольшая ее часть непокрыта брюшиной и
поэтому изменение контура большой кривизны, как правило, следует
расценивать как Т4а. Если опухоль очевидно не выходит за пределы
большого сальника, то ее следует расценивать как Т3.</p>
<figure>
<img src="./img/ct_t4_vs_t3.png"
alt="Опухоль большой кривизны. а) Протяженная опухоль Т4а. б) Неровность контура определяется на небольшом протяжении и ограничена проекцией большого сальника Т3. " />
<figcaption aria-hidden="true">Опухоль большой кривизны. а) Протяженная
опухоль Т4а. б) Неровность контура определяется на небольшом протяжении
и ограничена проекцией большого сальника Т3. </figcaption>
</figure>
<p>Нечеткость наружного контура обусловлена вовлечением жировой
клетчатки. Помимо опухолевой инфильтрации уплотнение жировой клетчатки
может быть обусловлено воспалением и фиброзом. Однако, с точки зрения
установления клинической стадии рака желудка любое уплотнение клетчатки
напротив опухоли следует расценивать как инвазию. Соответственно
изменений на уровне передней и задней стенок следует расценивать как
Т4b, по малой кривизне Т3, по большой кривизне от Т3 до Т4b.</p>
<figure>
<img src="./img/ct_t4_vs_t3.png"
alt="Уплотнение парапанкреатической клетчатки. В обоих случаях выполнена резекция хвоста поджелудочной железы а) Опухолевых клеток не найдено. б) Найдены единичные опухолевые клетки. " />
<figcaption aria-hidden="true">Уплотнение парапанкреатической клетчатки.
В обоих случаях выполнена резекция хвоста поджелудочной железы а)
Опухолевых клеток не найдено. б) Найдены единичные опухолевые клетки.
</figcaption>
</figure>
<h2 id="оценка-инвазии-в-соседние-органы">Оценка инвазии в соседние
органы</h2>
