<h1 id="выявление-опухоли">Выявление опухоли</h1>
<h2 id="классификация-морфологическая">Классификация
морфологическая</h2>
<h2 id="классификация-формы">Классификация формы</h2>
<h3 id="bormann">Bormann</h3>
<h2 id="кт">КТ</h2>
<h1 id="оценка-границ-опухоли">Оценка границ опухоли</h1>
<h2 id="отделы-желудка">Отделы желудка</h2>
<h2 id="рентгеноскопия">Рентгеноскопия</h2>
<h2 id="кт-1">КТ</h2>
<h2 id="мрт">МРТ</h2>
<h1 id="оценка-глубины-инвазии">Оценка глубины инвазии</h1>
<h2 id="строение-стенки-желудка">Строение стенки желудка</h2>
<p>Глубину инвазии следует оценивать согласно TNM 8 -<span
class="citation"
data-cites="PRAKTIChESKIEREKOMENDACIIPO2018">@PRAKTIChESKIEREKOMENDACIIPO2018</span>
.</p>
<p>Т характеристика первичной опухоли, т.е. максимальная глубина инвазии
опухоли в стенку желудка.</p>
<table>
<colgroup>
<col style="width: 40%" />
<col style="width: 60%" />
</colgroup>
<thead>
<tr class="header">
<th>Т категория</th>
<th>Описание</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Тх</td>
<td>Первичная опухоль не может быть оценена</td>
</tr>
<tr class="even">
<td>Т0</td>
<td>Данных о наличии первичной опухоли не выявлено</td>
</tr>
<tr class="odd">
<td>Tis</td>
<td>Карцинома in situ (опухоль в пределах слизистой оболочки без инвазии
собственной пластинки) / тяжёлая дисплазия</td>
</tr>
<tr class="even">
<td>T1</td>
<td>Опухоль захватывает собственную пластинку или мышечную пластинку
слизистой оболочки, подслизистый слой</td>
</tr>
<tr class="odd">
<td>Т1а</td>
<td>Опухоль захватывает собственную пластинку или мышечную пластинку
слизистой оболочки</td>
</tr>
<tr class="even">
<td>Т1b</td>
<td>Опухоль захватывает подслизистый слой</td>
</tr>
<tr class="odd">
<td>T2</td>
<td>Опухоль захватывает мышечный слой</td>
</tr>
<tr class="even">
<td>T3</td>
<td>Опухоль захватывает субсерозную оболочку без инвазии висцеральной
брюшины или прилежащих структур; к опухолям этой группы относятся также
опухоли с инвазией желудочно-ободочной и желудочно-печёночной связки,
большого и малого сальников без поражения висцеральной брюшины,
покрывающей эти структуры</td>
</tr>
<tr class="odd">
<td>T4</td>
<td>Опухоль распространяется на серозную оболочку (висцеральная брюшина)
или соседние структуры (интрамуральное распространение опухоли на
12‑перстную кишку или пищевод не считается распространением на соседние
структуры, но используется для характеристики «T» в случае максимальной
глубины инвазии в любой из этих областей)</td>
</tr>
<tr class="even">
<td>Т4а</td>
<td>Опухоль распространяется на серозную оболочку (висцеральная
брюшина)</td>
</tr>
<tr class="odd">
<td>Т4b</td>
<td>Опухоль распространяется на соседние структуры, такие как селезёнка,
поперечная ободочная кишка, печень, диафрагма, поджелудочная
железа.</td>
</tr>
</tbody>
</table>
<figure>
<img src="./img/stomach_tnm_basic.png"
alt="Классификация глубины инвазии стенки желудка согласно TNM 7 " />
<figcaption aria-hidden="true">Классификация глубины инвазии стенки
желудка согласно TNM 7 </figcaption>
</figure>
<p>Однако, в практическом смысле точность определения каждой из
категории неодинакова, так как различается характер визуализации разных
структур стенки. С точки зрения КТ вышеуказанная схема будет выглядеть
так. Как видите разделение на категории стало не так очевидно.</p>
<figure>
<img src="./img/stomach_tnm_on_ct.png"
alt="Классификация глубины инвазии стенки желудка согласно TNM 7 " />
<figcaption aria-hidden="true">Классификация глубины инвазии стенки
желудка согласно TNM 7 </figcaption>
</figure>
<p>Оценка глубины инвазии опухоли желудка строится на двух признаках:
дифференцировка подслизистого слоя и наружный контур стенки.</p>
<h2 id="дифференцировка-слоев-стенки-желудка">Дифференцировка слоев
стенки желудка</h2>
<figure>
<img src="./img/wall.png"
alt="Стенка желудка под микроскопом. Белый цвет подслизистого слоя обусловлен тем что он практически полностью состоит из жировой ткани. " />
<figcaption aria-hidden="true">Стенка желудка под микроскопом. Белый
цвет подслизистого слоя обусловлен тем что он практически полностью
состоит из жировой ткани. </figcaption>
</figure>
<p>Стенка желудка состоит из четырех слоев: слизистого, подслизистого,
мышечного и серозного. Разница в количестве жира и степени
васкуляризации позволяет дифференцировать эти слои при КТ и УЗИ . Эта
разница практически отсутствует между мышечным и серозным слоями.
Поэтому дифференцировать их с помощью КТ не удается.</p>
<figure>
<img src="./scheme/_extended_vs_not.png"
alt="Желудок до и после приема газообразующей смеси. До раздувания стенка хорошо дифференцируется на слои. После из-за снижения плотности слизистого слоя и толщины подслизистого разделения не слои не наблюдается " />
<figcaption aria-hidden="true">Желудок до и после приема газообразующей
смеси. До раздувания стенка хорошо дифференцируется на слои. После из-за
снижения плотности слизистого слоя и толщины подслизистого разделения не
слои не наблюдается </figcaption>
</figure>
<!---756008-->
<p>Толщина подслизистого слоя находится в диапазоне от 0,5 до 2 мм. При
растяжении желудка она уменьшается и он может стать практически не
заметен.</p>
<figure>
<img src="./img/mucosa_enchancment.png"
alt="Стенка желудка в разные фазы контрастирования с невыраженным подслизистым слоям. Слизистая заметно отличается в артериальную фазу и практически сливается с остальными слоями в портальную и отсроченную " />
<figcaption aria-hidden="true">Стенка желудка в разные фазы
контрастирования с невыраженным подслизистым слоям. Слизистая заметно
отличается в артериальную фазу и практически сливается с остальными
слоями в портальную и отсроченную </figcaption>
</figure>
<p>Более высокая степень васкуляризации слизистой оболочки позволяет
дифференцировать ее от мышечного слоя в ранние фазы контрастирования.
Однако в поздние фазы слизистая не отличается от мышечного слоя.</p>
<figure>
<img src="./scheme/_mucosa_enchancment.png"
alt="Примеры ранних раков желудка. а) Т1а на фоне хорошей дифференцировки слоев. б) Т1а на фоне отсутствующей дифференцировка слоев. в) Т2 на фоне хорошей дифференцировки слоев. г) Т2 на фоне отсутствующей дифференцировка слоев." />
<figcaption aria-hidden="true">Примеры ранних раков желудка. а) Т1а на
фоне хорошей дифференцировки слоев. б) Т1а на фоне отсутствующей
дифференцировка слоев. в) Т2 на фоне хорошей дифференцировки слоев. г)
Т2 на фоне отсутствующей дифференцировка слоев.</figcaption>
</figure>
<p>Таким образом дифференциальный диагноз Т1 и Т2 возможен. Но только
тогда, когда слои стенки на уровне опухоли выраженны достаточно.</p>
<h2 id="оценка-наружного-контура">Оценка наружного контура</h2>
<p>В отсроченную фазу опухоль, мышечный и серозный слои практически
неотделимы друг от друга. Это делает невозможным определить глубину
инвазии в мышечный слой. Поэтому единственным признаком, что опухоль
переросла Т2 категорию является деформация наружного контура.</p>
<figure>
<img src="./img/ct_t2_vs_t3.png"
alt="Сравнение Т2 и Т3 опухолей. Структура стенки и опухоли практически одинаковы. О том что опухоль инвазировала серозную оболочку говорит неровность наружного контура. " />
<figcaption aria-hidden="true">Сравнение Т2 и Т3 опухолей. Структура
стенки и опухоли практически одинаковы. О том что опухоль инвазировала
серозную оболочку говорит неровность наружного контура. </figcaption>
</figure>
<p>Хотя желудок считается интраперитонеально расположенным органом,
часть его стенки имеющей отношение к связочному аппарату брюшиной не
покрыта.</p>
<figure>
<img src="./img/stomach_anatomy_sagital.png"
alt="Поперечный разрез желудка. Брюшина обозначена голубой линией. Так как печеночно-желудочная связка имеет значительную толщину, малая кривизна брюшиной практически не покрыта. " />
<figcaption aria-hidden="true">Поперечный разрез желудка. Брюшина
обозначена голубой линией. Так как печеночно-желудочная связка имеет
значительную толщину, малая кривизна брюшиной практически не покрыта.
</figcaption>
</figure>
<p>Опухоль прорастающая серозную оболочку на передней или задней стенках
прорастает и брюшину, соответственно расценивается как Т4а. Если опухоль
на малой кривизне, то она распространяется на печеночно-желудочную
связку и расценивается как Т3.</p>
<figure>
<img src="./img/ct_t4_vs_t3.png"
alt="Пример семиотически похожих опухолей желудка. В обоих случаях отмечается инвазия серозного слоя. а) Опухоль передней стенки Т4а. б) Опухоль малой кривизны Т3. " />
<figcaption aria-hidden="true">Пример семиотически похожих опухолей
желудка. В обоих случаях отмечается инвазия серозного слоя. а) Опухоль
передней стенки Т4а. б) Опухоль малой кривизны Т3. </figcaption>
</figure>
<p>Неровность наружного контура на большой кривизне представляет
диагностическую дилему. Только небольшая ее часть непокрыта брюшиной и
поэтому изменение контура большой кривизны, как правило, следует
расценивать как Т4а. Если опухоль очевидно не выходит за пределы
большого сальника, то ее следует расценивать как Т3.</p>
<figure>
<img src="./img/ct_t4_vs_t3.png"
alt="Опухоль большой кривизны. а) Протяженная опухоль Т4а. б) Неровность контура определяется на небольшом протяжении и ограничена проекцией большого сальника Т3. " />
<figcaption aria-hidden="true">Опухоль большой кривизны. а) Протяженная
опухоль Т4а. б) Неровность контура определяется на небольшом протяжении
и ограничена проекцией большого сальника Т3. </figcaption>
</figure>
<p>Нечеткость наружного контура обусловлена вовлечением жировой
клетчатки. Помимо опухолевой инфильтрации уплотнение жировой клетчатки
может быть обусловлено воспалением и фиброзом. Однако, с точки зрения
установления клинической стадии рака желудка любое уплотнение клетчатки
напротив опухоли следует расценивать как инвазию. Соответственно
изменения на уровне передней и задней стенок следует расценивать как
Т4b, по малой кривизне Т3, по большой кривизне от Т3 до Т4b.</p>
<figure>
<img src="./img/ct_t4_vs_t3.png"
alt="Уплотнение парапанкреатической клетчатки. В обоих случаях выполнена резекция хвоста поджелудочной железы а) Опухолевых клеток не найдено. б) Найдены единичные опухолевые клетки. " />
<figcaption aria-hidden="true">Уплотнение парапанкреатической клетчатки.
В обоих случаях выполнена резекция хвоста поджелудочной железы а)
Опухолевых клеток не найдено. б) Найдены единичные опухолевые клетки.
</figcaption>
</figure>
<h2 id="оценка-инвазии-в-соседние-органы">Оценка инвазии в соседние
органы</h2>
<p>Распространение опухоли на соседние с желудком структуры
расценивается как Т4b.</p>
<pre><code>Помимо печени, поджелудочной железы, селезенки, кишечника к таким структурам относятся ножки диафрагмы, мезоколон.</code></pre>
<p>Контакт опухоли с печенью или поджелудочной железой
<strong>не</strong> является признаков их инвазии.</p>
<p>Крупная плотная бугристая опухоль желудка может деформировать
достаточно эластичную печень и поджелудочную железу.</p>
<p>Иногда об отсутствии инвазии можно уверенно судить на основании
смещаемости опухоли желудка относительно, казалось бы, инвазированного
органа.</p>
<figure>
<img src="./scheme/_pancreas_pseudoinvasion_displacement.png"
alt="КТ до и после раздувания желудка. а) Складывается впечатление, что опухоль инфильтрирует забрюшинное пространство. Опухоль визуально неотделима от тела поджелудочной железы. б) После раздувания опухоль сместилась и расположена на уровне хвоста поджелудочной железы. " />
<figcaption aria-hidden="true">КТ до и после раздувания желудка. а)
Складывается впечатление, что опухоль инфильтрирует забрюшинное
пространство. Опухоль визуально неотделима от тела поджелудочной железы.
б) После раздувания опухоль сместилась и расположена на уровне хвоста
поджелудочной железы. </figcaption>
</figure>
<h1 id="оценка-метастатического-поражения">Оценка метастатического
поражения</h1>
<h2 id="лимфоузлы">Лимфоузлы</h2>
<h2 id="отдаленные-метастазы">Отдаленные метастазы</h2>
<h1 id="другие-клинически-важные-аспекты">Другие клинически важные
аспекты</h1>
<h2
id="вариантная-анатомия-целиако-мезентериального-бассейна">Вариантная
анатомия целиако-мезентериального бассейна</h2>
<h2 id="грыжи-пищеводного-отверстия-диафрагмы">Грыжи пищеводного
отверстия диафрагмы</h2>
<h1 id="примеры-протоколов-описания">Примеры протоколов описания</h1>
<h2 id="рентгеноскопия-1">Рентгеноскопия</h2>
<h2 id="кт-2">КТ</h2>
<h2 id="мрт-1">МРТ</h2>
